.Preferences {
  display: flex;
  flex-direction: row;
  position: absolute !important;
  top: 10px;
  right: 10px;
  text-align: right;
  align-items: center;
  z-index: 1;
}

.Preferences p {
  font-size: small;
}

.Preferences .edit-img {
  vertical-align: middle;
  border: 0 !important;
  padding: 0 !important;
  margin-left: 5px;
}

.Preferences .edit-text {
  vertical-align: middle;
  font-size: 13px;
  color: #4a4a4a;
}

.Preferences .edit-btn {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}
