.Preferences {
  display: flex;
  flex-direction: row;
  position: absolute !important;
  top: 10px;
  right: 10px;
  text-align: right;
  align-items: center;
  z-index: 1;
}

.Preferences p {
  font-size: small;
}

.Preferences .edit-text {
  vertical-align: middle;
  font-size: 13px;
  color: #4a4a4a;
}

.Preferences .edit-btn {
  margin-top: 5px;
}
