body, html, #root {
  display: flex;
  height: 100%;
  flex: 1;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #00D1B2;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}